:root{
    --primary-color:#CED4DA;
    --secondary-color:#878A99;
    --bg-color:#051225;
    --green-color:#40BB82;
    --red-color:#EE6352;
    --menu-color:#798694;
    --list-color:#A4AAC7;
    --list-color2:#9BA5AF;
    --btn-color:#8C68CD;
    --border-color:#2a4562;
    --white-color:#FFFFFF;
    --black-color:#000000;
    --saira:Saira;
    --fs-11px:11px;
    --fs-13px:13px;
    --fs-14px:14px;
    --fs-15px:15px;
    --fs-16px:16px;
    --fs-17px:17px;
    --fs-18px:18px;
    --fs-20px:20px;
    --fs-22px:22px;
}
 ul{
    list-style: none;
 }

.accordion .link {
   cursor: pointer;
   display: block;
   padding: 13px 15px 13px 42px;
   color: var(--list-color);
   font-size: var(--fs-15px);
   font-weight: 300;
   position: relative;
   -webkit-transition: all 0.4s ease;
   -o-transition: all 0.4s ease;
   transition: all 0.4s ease;
}

.accordion li:last-child .link {
   border-bottom: 0;
}

.accordion li i {
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   left: 0;
   font-size: var(--fs-15px);
   color: var(--list-color);
   -webkit-transition: all 0.4s ease;
   -o-transition: all 0.4s ease;
   transition: all 0.4s ease;
}

.accordion li i.fa-chevron-down {
   right: 12px;
   left: auto;
   font-size: var(--fs-11px);
}

.accordion li.open .link {
   color: var(--white-color);
}

.accordion li.open i {
   color: var(--white-color);
}
.accordion li.open i.fa-chevron-down {
   -webkit-transform: rotate(180deg);
   -ms-transform: rotate(180deg);
   -o-transform: rotate(180deg);
   transform: rotate(180deg);
}

.accordion li.default .submenu {display: block;}
/**
* Submenu
-----------------------------*/
.submenu {
	display: none;
	/* background: #444359; */
	font-size: 14px;
	position: relative;
}
.submenu li{
	position: relative;
}
.submenu li a i{
	font-size: 10px;
	color: var(--list-color2) !important;
	top: 50%;
	transform: translateY(-50%);
   left: 15px;
}

.submenu a {
	display: block;
	text-decoration: none;
	color: var(--list-color2);
	padding: 12px;
	padding-left: 42px;
	-webkit-transition: all 0.25s ease;
	-o-transition: all 0.25s ease;
	transition: all 0.25s ease;
}

.submenu a:hover ,.submenu li:hover a i{
	/* background: #b63b4d; */
	color: #FFF !important;
}